.setting__form {
  min-width: 300px;
}

.setting__content {
  display: flex;
  align-items: center;
  padding: 0 20px 20px 20px;
}

.setting__input {
  flex: 1;
}

.setting__actions {
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: row-reverse;
}
