.message {
  margin: 10px;
  display: flex;
  align-items: flex-end;
}

.message__label {
  font-size: 14px;
  color: #666;
}

.message__user {
  flex-direction: row-reverse;
}

.message__timestamp {
  margin: 0 10px;
  color: #9E9E9E;
  font-size: 14px;
}

.card {
  margin-top: 5px;
  padding: 10px;
  width: fit-content;
}

.card__user {
  background-color: #7986cb !important;
  color: #fff !important;
}


.card__content {
  padding: 8px !important;
}
